@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Hello Loved';
	src: local('HelloLovedLovelyFont'),
		url('./assets/fonts/HelloLoved/HelloLovedLovelyFont.ttf')
			format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', sans-serif;
}

@layer base {
	body {
		@apply font-playfair text-gray;
	}

	a {
		@apply hover:text-rust md:text-lg;
	}

	li {
		@apply px-4;
		cursor: pointer;
	}

	p {
		@apply md:text-lg;
	}

	h1 {
		@apply md:text-7xl text-greenlight2 font-bold text-3xl
	}

	h2 {
		@apply md:text-5xl text-lg font-bold;
	}

	h4 {
		@apply md:text-2xl/[2.5rem] text-sm/[1.5rem] text-white font-light;
	}
}
